.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --nutmeg: hsl(14,45%,36%);
    --dark-respbarry: hsl(332,51%,32%);
    --white:hsl(0,0%,100%);
    --rose-white:hsl(330,100%,98%);
    --eggshell:hsl(30,54%,90%);
    --weng-brown:hsl(30,10%,34%);
    --light-grey:hsl(30, 18%, 87%);
    --dark-choclate:hsl(24,5%,18%);
    --clr-Dark-Charcoal: #302d2c;
    --ff-main:'outfit',sans-serif;
    --ff-heading: "Young Serif", serif;
    --fs-main:1rem;
    --fs-heading:1.75rem;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;   
}
h1, h2, h3, h4{
    line-height: 1.2;
    font-family: "Young Serif", serif;
    font-weight: var(--fw-600);
    color: var(--nutmeg);
}
ul, ol{
    
    padding: 0 1rem;
}
img{
    display: block;
    max-width: 100%;
    font-style: italic;
    color: var(--dark-respbarry);
    border-radius: .5rem;
}
body{
    font-family: var(--ff-main);
    font-weight: var(--fw-400);
    font-size: var(--fs-main);
    line-height: 1.5;
    color: var(--weng-brown);
    background-color: var(--eggshell);
}
table{
    border-collapse: collapse;
    width: 100%;
}
.recipe-title{
    font-size: 2.5rem;
    color: #111111;

    
}
.prep-title{
    font-size: 1.275rem;
    font-weight: var(--fw-600);
    color: var(--dark-respbarry);
    margin-bottom: .5rem;
}
span{
    font-weight: var(--fw-700);
    
}
[data-cell="Nutrition-value"] {
    color: var(--nutmeg);
    font-weight: var(--fw-600);

}
li{
    padding-left: 1rem;
    margin-bottom: .5rem;
}
li::marker{
    color: var(--nutmeg);
    font-weight: var(--fw-600);
}
.wrapper{
    display: grid;
    place-items: center;

}
.recipe-wrapper{
    max-width: 45rem;
    padding: 1.75rem;
    margin: 6rem 0;
    border-radius: 1.5rem;
    background-color: var(--white);
}

section{
    margin-top: 2rem;
}
hr{
    outline: none;
    border: none;
    height: 1px;
    background-color: var(--dark-choclate);
    margin-top: 2rem;
}
.prepation-time{
    padding: 1.75rem;
    background-color: var(--eggshell);
    border-radius: .8rem;
    margin-top: 2rem;

}
tr{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    border-bottom: 1px solid var(--light-grey);
}

         ;

@media (max-width:500px){
    .recipe-wrapper{
        margin: 0;
        border-radius: 0;
        padding: 0;
    }
    
    
    .recipe-container{
        padding: 0.75rem;
    }
    .recipe-title{
        font-size: 2.2rem;
    }

}